<%= form_with(model: store, local: true, class: 'form-horizontal') do |form| %>
      <div class="form-group <%= store.errors[:name].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Nome da Loja:</label>
      <div class="col-sm-10">
        <%= form.text_field :name, class: 'form-control' %>
        <% if store.errors[:name].any? %>
          <span class="help-block m-b-none font-bold"><%= store.errors[:name].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= store.errors[:user_id].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Proprietário:</label>
      <div class="col-sm-10">
        <%= form.text_field :user_id, class: 'form-control' %>
        <% if store.errors[:user_id].any? %>
          <span class="help-block m-b-none font-bold"><%= store.errors[:user_id].first %></span>
        <% end %>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <%= link_to 'Cancelar', stores_path, :class => 'btn btn-white' %>
        <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
