<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Mostrando Lojas</h5>
        </div>
        <div class="ibox-content-scaffold">
            <form class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Nome da Loja:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @store.name %>
                    </p>
                  </div>
                </div>
              <div class="form-group"><label class="col-sm-2 control-label">Proprietário:</label>
                <div class="col-sm-10">
                  <p style="color:#565555;" class="form-control-static">
                    <%= @store.user %>
                    </p>
                  </div>
                </div>
              <div class="hr-line-dashed">
              </div>
                <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to 'Voltar', stores_path, :class => 'btn btn-white' %>
                      <%= link_to 'Editar', edit_store_path(@store), :class => "btn btn-primary" %>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
