<%= form_with(model: days_goal, local: true, class: 'form-horizontal') do |form| %>
      <div class="form-group <%= days_goal.errors[:sales_goals_id].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Meta:</label>
      <div class="col-sm-10">
        <%= form.text_field :sales_goals_id, class: 'form-control' %>
        <% if days_goal.errors[:sales_goals_id].any? %>
          <span class="help-block m-b-none font-bold"><%= days_goal.errors[:sales_goals_id].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= days_goal.errors[:date_sales].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Data:</label>
      <div class="col-sm-10">
        <%= form.date_select :date_sales, class: 'form-control' %>
        <% if days_goal.errors[:date_sales].any? %>
          <span class="help-block m-b-none font-bold"><%= days_goal.errors[:date_sales].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= days_goal.errors[:value].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Valor:</label>
      <div class="col-sm-10">
        <%= form.text_field :value, class: 'form-control' %>
        <% if days_goal.errors[:value].any? %>
          <span class="help-block m-b-none font-bold"><%= days_goal.errors[:value].first %></span>
        <% end %>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <%= link_to 'Cancelar', days_goals_path, :class => 'btn btn-white' %>
        <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
