<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Mostrando Meta</h5>
        </div>
        <div class="ibox-content-scaffold">
            <form class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Meta:</label>
                <div class="col-sm-10">
                  <p style="color:#565555;" class="form-control-static">
                      <%= @days_goal.sales_goals %>
                    </p>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Data da Meta:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @days_goal.date_sales %>
                    </p>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Valor:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @days_goal.value %>
                    </p>
                  </div>
                </div>
              <div class="hr-line-dashed">
              </div>
              <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to 'Voltar', days_goals_path, :class => 'btn btn-white' %>
                      <%= link_to 'Editar', edit_days_goal_path(@days_goal), :class => "btn btn-primary" %>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
