<%= form_with(model: salesman, local: true, class: 'form-horizontal') do |form| %>
      <div class="form-group <%= salesman.errors[:name].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Nome:</label>
      <div class="col-sm-10">
        <%= form.text_field :name, class: 'form-control' %>
        <% if salesman.errors[:name].any? %>
          <span class="help-block m-b-none font-bold"><%= salesman.errors[:name].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= salesman.errors[:sales_goals_id].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Meta:</label>
      <div class="col-sm-10">
        <%= form.text_field :sales_goals_id, class: 'form-control' %>
        <% if salesman.errors[:sales_goals_id].any? %>
          <span class="help-block m-b-none font-bold"><%= salesman.errors[:sales_goals_id].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= salesman.errors[:stores_id].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Loja:</label>
      <div class="col-sm-10">
        <%= form.text_field :stores_id, class: 'form-control' %>
        <% if salesman.errors[:stores_id].any? %>
          <span class="help-block m-b-none font-bold"><%= salesman.errors[:stores_id].first %></span>
        <% end %>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <%= link_to 'Cancelar', salesmen_path, :class => 'btn btn-white' %>
        <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
