<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Mostrando Vendedor</h5>
        </div>
        <div class="ibox-content-scaffold">
            <form class="form-horizontal">
                <div class="form-group"><label class="col-sm-2 control-label">Nome:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @salesman.name %>
                    </p>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Meta:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @salesman.sales_goals %>
                    </p>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Loja:</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @salesman.stores %>
                    </p>
                  </div>
                </div>
              <div class="hr-line-dashed">
              </div>
              <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to 'Voltar', salesmen_path, :class => 'btn btn-white' %>
                      <%= link_to 'Editar', edit_salesman_path(@salesman), :class => "btn btn-primary" %>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
