<%%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= plural_table_name.titleize %></h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-striped table-hover table-results">
            <thead>
              <tr>
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <th><%= attribute.human_name %></th>
                <% end -%>
                <th class="col-sm-3">Ações</th>
              </tr>
            </thead>
            <tbody>
              <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
                <tr>
                  <% attributes.reject(&:password_digest?).each do |attribute| -%>
                    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
                  <% end -%>
                  <td>
                    <%%= link_to fa_icon('eye'),  <%= model_resource_name %>, class: 'btn btn-sm btn-success' %>
                    <%%= link_to fa_icon('edit'), edit_<%= singular_route_name %>_path(<%= singular_table_name %>), class: 'btn btn-sm btn-warning' %>
                    <%%= link_to fa_icon('trash'), <%= model_resource_name %>, method: :delete, data: { confirm: I18n.t('app.messages.are_you_sure') }, class: 'btn btn-sm btn-danger' %>
                  </td>
                </tr>
              <%% end %>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <%%= link_to fa_icon('plus'), new_<%= singular_route_name %>_path, class: 'btn btn-md btn-primary' %></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
