<%= form_with(model: sales_goal, local: true, class: 'form-horizontal') do |form| %>
      <div class="form-group <%= sales_goal.errors[:dt_start].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Data Inicial:</label>
      <div class="col-sm-10">
        <%= form.date_select :dt_start, class: 'form-control' %>
        <% if sales_goal.errors[:dt_start].any? %>
          <span class="help-block m-b-none font-bold"><%= sales_goal.errors[:dt_start].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= sales_goal.errors[:dt_end].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Data Final:</label>
      <div class="col-sm-10">
        <%= form.date_select :dt_end, class: 'form-control' %>
        <% if sales_goal.errors[:dt_end].any? %>
          <span class="help-block m-b-none font-bold"><%= sales_goal.errors[:dt_end].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= sales_goal.errors[:ref_month].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Mês de Referência:</label>
      <div class="col-sm-10">
        <%= form.date_select :ref_month, class: 'form-control' %>
        <% if sales_goal.errors[:ref_month].any? %>
          <span class="help-block m-b-none font-bold"><%= sales_goal.errors[:ref_month].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= sales_goal.errors[:value].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Valor:</label>
      <div class="col-sm-10">
        <%= form.text_field :value, class: 'form-control' %>
        <% if sales_goal.errors[:value].any? %>
          <span class="help-block m-b-none font-bold"><%= sales_goal.errors[:value].first %></span>
        <% end %>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <%= link_to 'Cancelar', sales_goals_path, :class => 'btn btn-white' %>
        <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
