<%= form_with(model: sale, local: true, class: 'form-horizontal') do |form| %>
      <div class="form-group <%= sale.errors[:day_goals_id].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Meta do dia:</label>
      <div class="col-sm-10">
        <%= form.text_field :day_goals_id, class: 'form-control' %>
        <% if sale.errors[:day_goals_id].any? %>
          <span class="help-block m-b-none font-bold"><%= sale.errors[:day_goals_id].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= sale.errors[:value].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Valor:</label>
      <div class="col-sm-10">
        <%= form.text_field :value, class: 'form-control' %>
        <% if sale.errors[:value].any? %>
          <span class="help-block m-b-none font-bold"><%= sale.errors[:value].first %></span>
        <% end %>
      </div>
    </div>
      <div class="form-group <%= sale.errors[:salesman_id].any? ? 'has-error' : '' %>">
      <label class="col-sm-2 control-label">Vendendor:</label>
      <div class="col-sm-10">
        <%= form.text_field :salesman_id, class: 'form-control' %>
        <% if sale.errors[:salesman_id].any? %>
          <span class="help-block m-b-none font-bold"><%= sale.errors[:salesman_id].first %></span>
        <% end %>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
        <%= link_to 'Cancelar', sales_path, :class => 'btn btn-white' %>
        <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
