<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>&nbsp;Editando Venda</h5>
        </div>
        <div class="ibox-content-scaffold">
            <%= render 'form', sale: @sale %>
        </div>
      </div>
    </div>
  </div>
</div>
