<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Mostrando sale</h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal">
              <div class="form-group"><label class="col-sm-2 control-label">Day goals</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @sale.day_goals %>
                    </p>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Value</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @sale.value %>
                    </p>
                  </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Salesman</label>
                  <div class="col-sm-10">
                    <p style="color:#565555;" class="form-control-static">
                      <%= @sale.salesman %>
                    </p>
                  </div>
                </div>
              <div class="hr-line-dashed">
              </div>
              <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to 'Voltar', sales_path, :class => 'btn btn-white' %>
                      <%= link_to 'Editar', edit_sale_path(@sale), :class => "btn btn-primary" %>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
