<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" src="assets/stylesheets/base/navigation.scss" />

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                  <span>
                    <%= link_to "/home/index" do %>
              <img alt="image" class="img-circle" src="<%= image_url 'pce-peq.png' %>"/>
            <% end %>
          </span>
        </div>
        <div class="logo-element">
          <%= "CI" %>
        </div>
      </li>
        <li>
          <a href="/"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Lojas</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/stores"><i class="fa fa-plus-circle"></i>Cadastro de Lojas</a></li>
            </ul>
        </li>
        <li>
          <a href="/"><i class="fa fa-pencil"></i> <span class="nav-label">Cadastro de Metas</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="/sales_goals"><i class="fa fa-plus-circle"></i>Registro de Metas</a></li>
              <li><a href="/days_goals"><i class="fa fa-plus-circle"></i>Dia das Metas</a></li>
            </ul>
        </li>
        <li>
          <a href="/"><i class="fa fa-users"></i> <span class="nav-label">Vendedores</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="/salesmen"><i class="fa fa-plus-circle"></i> Relação de Vendedores</a></li>
            </ul>
        </li>
        <li>
          <a href="/"><i class="fa fa-exchange"></i> <span class="nav-label">Registro de Vendas</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="/sales"><i class="fa fa-plus-circle"></i>Vendas</a></li>
            </ul>
        </li>
    </div>
  </ul>
</nav>
